Source: ros-lyrical-sick-safetyscanners2-interfaces
Section: misc
Priority: optional
Maintainer: "Christian Eichmann" <eichmann@fzi.de>
Build-Depends: debhelper (>= 9.0.0), ros-lyrical-ament-cmake, ros-lyrical-ament-lint-auto <!nocheck>, ros-lyrical-ament-lint-common <!nocheck>, ros-lyrical-rosidl-default-generators, ros-lyrical-sensor-msgs, ros-lyrical-ros-workspace, ros-lyrical-rosidl-typesupport-fastrtps-c, ros-lyrical-rosidl-typesupport-fastrtps-cpp
Homepage: https://index.ros.org/p/sick_safetyscanners2_interfaces/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-sick-safetyscanners2-interfaces
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lyrical-rosidl-default-runtime, ros-lyrical-sensor-msgs, ros-lyrical-ros-workspace
Description: Interfaces for the sick_safetyscanners ros2 driver
